<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
 
<suite name="Suite1" verbose="1" >
  <test name="Regression1"  preserve-order="true"  >
    <packages>
      <package name="com.pa.test" />
   </packages>
   <classes>
   	<class name="com.pa.test.InitAppium"/>
   	<class name="com.pa.test.NewTest"/>
   	<class name="com.pa.test.LoginTest"/>
   	<class name="com.pa.test.MainPageTest"/>
   	
   </classes>
   
 </test>
</suite>
