<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
 
<suite name="移动接处警" verbose="1" >
  <test name="Regression1"  preserve-order="true" >
    <packages>
      <package name="com.pa.test" />
   </packages>
   <!-- 
   <classes>
   	<class name="com.pa.test.InitAppium"/>
   	<class name="com.pa.test.NewTest"/>
   	<class name="com.pa.test.LoginTest"/>
   	<class name="com.pa.test.MainPageTest"/>
   	
   </classes>
    -->
   <!-- 定义执行测试的模块组 -->
   <!-- 
   <groups>
   <define name="loginModule">
   <include name="login"></include>
   </define>
   
   <run>
   <include name="loginModule"></include>
   </run>
   </groups>
    -->
 </test>
</suite>
